In [1]:
#I am learning python and following are the basic commands

print(5+2)
5*2
5>0

7

True

In [2]:
"hello "+"abc"

'hello abc'

In [3]:
if(1>2)
print("hello")

SyntaxError: invalid syntax (<ipython-input-3-cb41f0d51625>, line 1)

In [ ]:
if(1>2):
print("hello")

In [ ]:
if(1<2):
    print("hello")

In [ ]:
if(1<0):
    print("hello")
if(2<3):
    print("hi")

In [ ]:
if(1<2 & 2<3):
    print("you got that right")

In [10]:
name = "Vaibhav"
age = 35.0
country = 'India'

print(type(age))

<class 'float'>

In [13]:
print(name, age)

Vaibhav 35.0

In [7]:
name = """Abhishek's
laptop's os is 
Windows"""

print(name)

Abhishek's
laptop's os is
Windows

In [14]:
1+"Vaibhav"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
print(name + "'s" + " age is " + age)

TypeError: can only concatenate str (not "float") to str

In [16]:
print(name + "'s" + " age is " + str(age))

Vaibhav's age is 35.0

In [17]:
intAge = int(age)
print(intAge)

35

In [18]:
name, age, country = "Vaibhav", 35, 'India'

print(name, country, age)

Vaibhav India 35

In [19]:
name = age = country = "Vaibhav"

print(name, country, age)

Vaibhav Vaibhav Vaibhav

In [20]:
person = ["Vaibhav", 35, 'India']
name, age, country = person
print(name, country, age)

Vaibhav India 35

In [22]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [36]:
students = ["desmond", "melvin", "abhishek", "kannan"]
for student in students:
    if(student == "abhishek"):
        break
    print(student)

print(len(students))

desmond
melvin
4

In [35]:
#Functions

def my_function(fname, lname):
  print(fname + " " + lname)

def add_numbers(num1, num2):
  print(num1 + num2)

my_function("Vaibhav", "Vashishtha")

add_numbers(1,2)

Vaibhav Vashishtha
3