In [ ]:
# create an empty tuple
py_tuple = ()
print("A blank tuple:", py_tuple)

# create a tuple without using round brackets
py_tuple = 33, 55, 77
print("A tuple set without parenthesis:", py_tuple, "type:", type(py_tuple))

# create a tuple of numbers
py_tuple = (33, 55, 77)
print("A tuple of numbers:", py_tuple)

# create a tuple of mixed numbers
# such as integer, float, imaginary
py_tuple = (33, 3.3, 3+3j)
print("A tuple of mixed numbers:", py_tuple)

# create a tuple of mixed data types
# such as numbers, strings, lists
py_tuple = (33, "33", [3, 3])
print("A tuple of mixed data types:", py_tuple)

# create a tuple of tuples
# i.e. a nested tuple
py_tuple = (('x', 'y', 'z'), ('X', 'Y', 'Z'))
print("A tuple of tuples:", py_tuple)

In [ ]:
# creating a tuple from a set
>>> py_tuple = tuple({33, 55 , 77})
>>> type(py_tuple)
<class 'tuple'>
>>> py_tuple
(33, 77, 55)
# creating a tuple from a list
>>> py_tuple = tuple([33, 55 , 77])
>>> type(py_tuple)
<class 'tuple'>
>>> py_tuple
(33, 55, 77)

In [12]:
var = ()

print(type(var))

<class 'tuple'>

In [13]:
dict = {'Student Name': 'Berry', 'Roll No.': 12, 'Subject': 'English'}

In [14]:
print("dict['Student Name'}; ", dict['Student Name'])

dict['Student Name'};  Berry

In [15]:
print(dict['Student Name'], dict['Roll No.'])

Berry 12

In [16]:
dict['age'] = 35

In [17]:
dict

{'Student Name': 'Berry', 'Roll No.': 12, 'Subject': 'English', 'age': 35}

In [18]:
dict['age']

35

In [19]:
dict.update({"new_age" : 40})

In [20]:
dict

{'Student Name': 'Berry',
 'Roll No.': 12,
 'Subject': 'English',
 'age': 35,
 'new_age': 40}

In [24]:
dict['new_age'] = 41

In [25]:
dict

{'Student Name': 'Jarry', 'Roll No.': 12, 'Subject': 'English', 'new_age': 41}

In [23]:
dict = {'Student Name': 'Berry', 'Roll No.': 12, 'Subject': 'English'}
print("The student who left:", dict.get('Student Name'))
dict['Student Name'] = 'Larry'
print("The student who replaced: [Update]", dict.get('Student Name'))
dict['Student Name'] = 'Jarry'
print("The student who joined: [Addition]", dict.get('Student Name'))

The student who left: Berry
The student who replaced: [Update] Larry
The student who joined: [Addition] Jarry

In [26]:
dict.pop('new_age')

41

In [27]:
dict

{'Student Name': 'Jarry', 'Roll No.': 12, 'Subject': 'English'}

In [28]:
del dict['Student Name']

In [29]:
dict

{'Roll No.': 12, 'Subject': 'English'}

In [32]:
dict.clear()

In [33]:
dict

{}

In [34]:
dict = {'Student Name': 'Berry', 'Roll No.': 12, 'Subject': 'English'}
print("Keys are:")
for k in dict:
    print(k, dict[k])

Keys are:
Student Name Berry
Roll No. 12
Subject English